.login-button {
    color: white !important;
}

#login-username {
    color: white !important;
}

#login-password {
    color: white !important;
}

#login-buttons-password {
    color: white !important;
}

#signup-link {
    color: white !important;
}
