.login-button {
    color: white !important;
}

.dropdown-menu {
    background-color: #3f51b5 !important;
}

#login-username {
    color: white !important;
}

#login-password {
    color: white !important;
}

#login-buttons-password {
    color: white !important;
}

#signup-link {
    color: white !important;
}
