<template name="player">
    <div class="panel {{playerClass}}">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{name}} <span class="badge">{{willpower}}</span>
                <div class="pull-right">
                    {{#if isJohn}}
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    {{/if}}
                    {{#if obsessions}}
                        <span id="{{name}}-obsessions" class="obsession-popover glyphicon glyphicon-search" aria-hidden="true" data-toggle="popover"></span>
                    {{/if}}
                </div>
            </h3>
        </div>
        <div class="panel-body">
            {{#each skills}}
                <p style="display: inline;">
                    {{skillPrefix ../name @index}}{{this}}
                </p>
            {{/each}}
        </div>
    </div>
</template>

<template name="obsessions">
    <h4>
        <b>Obsessions</b>
        <hr/>
        {{#each this}}
            <p>({{level}}) {{description}}</p>
        {{/each}}
    </h4>
</template>
