<template name="home">
    <div class="jumbotron">
        <h1>Everyone is John!</h1>
        <p>
            Welcome to Everyone is John! A role playing game for 4+ people where you play as voices in the head of a guy named John. You vie for control of John and attempt to complete your personality's obsessions.
        </p>
        <p>
            <a class="btn btn-info btn-lg" href="http://www.everyoneisjohn.com/the-original-rules/">Learn more</a>
            <a class="btn btn-primary btn-lg">Join Game</a>
            <a class="btn btn-warning btn-lg" href="{{ pathFor 'newGame' }}">New Game</a>
        </p>
    </div>
</template>
