<template name="gamePage">
    <div class="well">
        <div class="page-header">
            <h1>{{title}}</h1>
            {{#if isGameMaster}}
                <div class="row">
                    <div class="col-sm-4">
                        <a id="check" class="btn btn-raised btn-info btn-block">Check</a>
                    </div>
                    <div class="col-sm-4">
                        <a id="skilledCheck" class="btn btn-raised btn-success btn-block">Skilled Check</a>
                    </div>
                    <div class="col-sm-4">
                        <a id="challange" class="btn btn-raised btn-warning btn-block">Challange</a>
                    </div>
                </div>
            {{/if}}
        </div>
        {{#each players}}
            {{> player}}
        {{/each}}
        <a href="{{pathFor 'newPlayer'}}" class="btn btn-danger btn-fab"><i class="large material-icons">add</i></a>
    </div>
</template>
