<template name="gamePage">
    <div class="well">
        <div class="page-header">
            <h1>{{title}}</h1>
            {{#if isGameMaster}}
                <div class="row">
                    <div class="col-sm-4">
                        <a id="check" class="btn btn-raised btn-info btn-block">Check</a>
                    </div>
                    <div class="col-sm-4">
                        <a id="skilledCheck" class="btn btn-raised btn-success btn-block">Skilled Check</a>
                    </div>
                    <div class="col-sm-4">
                        <a id="challange" class="btn btn-raised btn-warning btn-block">Challange</a>
                    </div>
                </div>
            {{/if}}
            {{#if showDifficultySetter}}
                <h3>Pick difficulty for roll {{checkDifficulty}}.</h3>
                {{> userPickNumber lower=1 upper=7}}
            {{/if}}
            {{#if showWillPicker}}
                <h3>Difficulty: {{checkDifficulty}}. Pick willpower for {{rollName}}</h3>
                {{> userPickNumber lower=0 upper=6}}
            {{/if}}
            {{#if showChallangePicker}}
                <h3>Bet willpower to gain control of John.</h3>
                {{> userPickNumber lower=0 upper=6}}
            {{/if}}
        </div>
        {{#each players}}
            {{> player}}
        {{/each}}
        <a href="{{pathFor 'newPlayer'}}" class="btn btn-danger btn-fab"><i class="large material-icons">add</i></a>
    </div>
</template>

<template name="userPickNumber">
    <div class="btn-group btn-group-justified btn-group-raised">
        {{#each range}}
            <a href="" class="btn input-number">{{this}}</a>
        {{/each}}
    </div>
</template>
